.dashboard-container {
  display: flex;
  width: 100%;
}

.sidebar-con {
  height: 100vh;
  position: fixed;
  overflow-y: visible;
  overflow-x: visible;
}

.dashboard-content {
  margin-left: 280px;
  width: 100%;
  /* padding: 20px; */
  overflow-y: auto;

  background-color: #ffffff;
  border: 1px solid #efefef;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-top: 10px;
}
